.reveal .line-through {
  text-decoration: line-through;
}

.reveal .admonitionblock.float-right {
  float: right;
  font-size: 60%;
  width: 33%;
  background-color: darkslategray;
  margin-top: 40px;
  margin: 25px;                      }

.reveal blockquote {
  width: 90%;       }

.reveal blockquote p {
  font-size: 0.6em;
  line-height: 1.2em; }

.reveal .underline {
  text-decoration: underline; 
                   }

.reveal .imageblock.half {
  width: 50%;            }

.reveal div.half {
  width: 50%;    }

.reveal div.third {
  width: 33.3%;   }

.reveal .float-left {
  float: left;    }

.reveal .float-right {
  float: right;    }

.reveal section .no-border img {
  background-color: lightgrey;
  padding: 4px;
  border: 0;                   }

.reveal section .no-border-transparent img {
  background-color: transparent;
  padding: 4px;
  border: 0;                   }

.reveal .lightblue {
  color: #42affa }

.reveal blockquote p {
  font-size: 0.9em;  }

.reveal .quoteblock .attribution {
  font-size: 70%;                }

.reveal .shaded {
  background-color: rgba(20,20,20,0.3); }
